body,
.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-card,
.ant-drawer,
.ant-dropdown,
.ant-menu {
  font-family: "Exo2", sans-serif !important;
}

.search-input .ant-input-search-button {
  border-left: none !important;
}

.ant-input-search {
  width: 100%;
}

.ant-image .ant-image-mask:hover {
  border-radius: 50px;
}

.ant-image {
  border-radius: 50px;
}

.ant-ribbon {
  font-size: 30px;
  height: auto;
  padding: 10px 16px;
}

.ant-ribbon-wrapper .ant-image {
  border-radius: 10px;
}

@media (max-width: 915px) {
  .ant-steps-item
    .ant-steps-item-container
    .ant-steps-item-content
    .ant-steps-item-title {
    font-size: 12px;
  }
}


@media (max-width: 815px) {
  .ant-steps-item
    .ant-steps-item-container
    .ant-steps-item-content
    .ant-steps-item-title {
      display: none;

    }
}
